---
import logo from '../assets/icons/logo-echos-sonores.svg';
import logoIci from '../assets/icons/logo-ici.svg';
import logoEstRepublicain from '../assets/icons/logo-est-republicain.svg';
---

<footer class="grille gap-5 bg-[#00852a] px-8 py-12 font-[family-name:var(--font-montserrat)] text-white lg:gap-3">
    <div class="lg:col-span-3">
        <img src={logo.src} alt="Echos Sonores" class="h-[80px] w-auto">
    </div>

    <div class="mb-6 lg:col-span-6 lg:col-start-4 lg:mb-0">
        <p class="mb-4 text-xl font-bold lg:text-2xl">Inscrivez-vous<br>à notre newsletter&nbsp;!</p>
        <a href="#newsletter" class="inline-block rounded-full bg-[#00b44b] px-3 py-1  text-white no-underline lg:px-4 lg:py-3">
            Je m'inscris !
        </a>
    </div>

    <nav class="mb-6 lg:col-span-4 lg:mb-0">
        <ul>
            <li><a href="/" class="font-semibold text-white no-underline">Accueil</a></li>
            <li><a href="/festival" class="font-semibold text-white no-underline">Le festival</a></li>
            <li><a href="/programme" class="font-semibold text-white no-underline">Programme</a></li>
            <li><a href="/artistes" class="font-semibold text-white no-underline">Artistes</a></li>
            <li><a href="/infos" class="font-semibold text-white no-underline">Infos pratiques</a></li>
            <li><a href="/scenes" class="font-semibold text-white no-underline">Scènes</a></li>
            <li><a href="/contact" class="font-semibold text-white no-underline">Contact</a></li>
        </ul>
    </nav>

    <div class="mb-6 flex gap-4 lg:col-span-2 lg:col-start-2 lg:mb-0 lg:gap-3">
        <img src={logoEstRepublicain.src} alt="L'Est Républicain" class="h-auto w-35 lg:h-12 lg:w-auto">
        <img src={logoIci.src} alt="Ici" class="h-auto w-45 lg:h-12 lg:w-auto">
    </div>

    <address class="space-y-1 not-italic lg:col-span-5">
        <p class="font-semibold">COORDONNÉES</p>
        <p>Rue de Dasle, Audincourt</p>
        <p><a href="mailto:info@echossonores.fr" class="text-white no-underline">info@echossonores.fr</a></p>
        <p><a href="/contact" class="text-white no-underline">Page contact</a></p>
    </address>

    <div class="col-span-full space-y-2 border-t border-white/25 pt-4 text-center text-xs">
        <p>
            <a href="#" class="text-white no-underline">Mentions légales</a> ·
            <a href="#" class="text-white no-underline">Politique de confidentialité (RGPD)</a> ·
            <a href="#" class="text-white no-underline">Conditions générales de vente (CGV)</a> ·
            <a href="#" class="text-white no-underline">Gestion des cookies</a>
        </p>
        <p class="text-[0.75rem] opacity-90">Copyright © 2026 Echos Sonores</p>
    </div>
</footer>
