---
import logo from '../assets/icons/logo-echos-sonores.svg';
---

<header class="fixed top-0 left-0 right-0 bg-[#006711] px-4 py-3 flex items-center justify-between z-[1000] group/header">
    <a href="/" class="relative z-20">
        <img src={logo.src} alt="Echos Sonores" class="h-[50px] block">
    </a>

    <button 
        class="group relative z-20 flex h-7 w-10 flex-col justify-between *:h-[3px] *:w-full *:bg-white *:rounded-full *:transition-all *:duration-300 *:ease-in-out" 
        type="button" 
        aria-label="menu" 
        aria-expanded="false"
        aria-controls="mainNav"
        id="menu-btn">

        <span class="group-aria-expanded:translate-y-[12px] group-aria-expanded:rotate-45" aria-hidden="true"></span>
        <span class="group-aria-expanded:opacity-0" aria-hidden="true"></span>
        <span class="group-aria-expanded:-translate-y-[12px] group-aria-expanded:-rotate-45" aria-hidden="true"></span>
    </button>

    <nav 
        class="fixed inset-0 z-10 bg-[#006711] px-4 pt-3 pb-6 flex flex-col items-start opacity-0 invisible transition-all duration-300 ease-in-out aria-hidden:opacity-0 aria-hidden:invisible aria-[hidden=false]:opacity-100 aria-[hidden=false]:visible" 
        id="mainNav" 
        aria-hidden="true"
    >
        <a href="/" class="mb-8">
            <img src={logo.src} alt="Echos Sonores" class="h-[50px]">
        </a>
        <ul id="mainMenu" aria-hidden="true" class="list-none ml-5 font-semibold mt-5 p-0 space-y-2 *:opacity-0 *:-translate-y-2 *:transition-all *:duration-300 *:ease-in-out aria-[hidden=false]:*:opacity-100 aria-[hidden=false]:*:translate-y-0">
            <li class="delay-[50ms]"><a class="text-[24px] text-white no-underline" href="/">Accueil</a></li>
            <li class="delay-100"><a class="text-[24px] text-white no-underline" href="/festival">Le festival</a></li>
            <li class="delay-150"><a class="text-[24px] text-white no-underline" href="/programme">Programme</a></li>
            <li class="delay-200"><a class="text-[24px] text-white no-underline" href="/artistes">Artistes</a></li>
            <li class="delay-[250ms]"><a class="text-[24px] text-white no-underline" href="/infos">Infos pratiques</a></li>
            <li class="delay-300"><a class="text-[24px] text-white no-underline" href="/scenes">Scènes</a></li>
            <li class="delay-[350ms]"><a class="text-[24px] text-white no-underline" href="/contact">Contact</a></li>
            <li class="delay-500"><a class="text-[24px] text-white no-underline" href="/account">Mon Compte</a></li>

        </ul>
    </nav>
</header>

<script>
    // @ts-nocheck
    const toggle = document.querySelector('#menu-btn');
    const nav = document.querySelector('#mainNav');
    const menu = document.querySelector('#mainMenu');
    const page = document.body;

    if (toggle && nav && menu) {
        toggle.addEventListener('click', () => {
            const isOpen = toggle.ariaExpanded === 'true';
            const isClosed = !isOpen;

            toggle.ariaExpanded = String(isClosed);
            nav.ariaHidden = String(isOpen);
            menu.ariaHidden = String(isOpen);
            page.classList.toggle('overflow-hidden', isClosed);
        });
    }
</script>
